@import url("https://use.typekit.net/fha1qle.css");

body {
    font-family: orpheuspro, serif;
    margin: 0;
    font-size: calc(9px + 0.35vw);
    line-height: 1.24;
}

a {
color: rgb(0, 0, 0);
font-weight: 600;
font-size: 2em;
}

h1 {
    font-size: 3.25rem;
}

p {
    font-size: 1.2em;
}


.container {
    max-width: 100%;
}

footer {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100vw;
    bottom: 0;
    position: fixed;
    color: white;
    background-color: black;
    text-align: center;
    text-justify: auto;
    justify-content: center;
}

.projects {
    margin: auto 0;
    padding: 3.6em;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: black 1px solid;
}

.project-title h1 {
    max-width: 20ch;
}

.project-title p {
    max-width: 73ch;
}


.project-description {
    max-width: 73ch;
}


.projects img {
    width: 100%;
    margin: auto 0;
}


.intro {
    align-items: left;
    position: fixed;
    padding: 3em;
    max-width: 72ch;
    background-color: rgba(255, 255, 255, 0.5);
}

aside {
    height: 100vh;
    float: right;
    display: grid;
    grid-template-rows: repeat(1fr);
    right: 0;
    margin: 0;
}

.sidepanel1 {
    padding: 2em;
    background-color: #CBDEE0;
    align-content: stretch;
    margin: 0;
    display: inline-block;
}

.sidepanel2 {
    padding: 2em;
    background-color: #FAE36A;
    align-content: stretch;
    margin: 0;
}

.sidepanel3 {
    padding: 2em;
    background-color: #F4BC79;
    align-content: stretch;
    margin: 0;
}

.sidepanel4 {
    padding: 2em;
    padding-bottom: 10vh;
    background-color: #ffa0a0;
    align-content: stretch;
    margin: 0;
}

nav {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 6em;
    text-align: center;
    z-index: 5;
}

nav a {
font-size: 3em;
}


footer a {
    color: white;
    font-weight: unset;
    font-size: unset;
}


@media (max-width: 1024px) {

    .intro{
        width: unset;
        position: unset;
        padding: 3em 2em;
       }

    nav {
        bottom: 36vh;
    }
    
    
    aside {
        width: 100%;
        height: auto;
        margin: 0;
    }
    
    }
    
    
    @media (max-width: 730px) {
    

        main {
            width: 100vw;
        }
 
        .intro {
            background-color: white;
            min-height: 100vw;
        }

        h1 {
            font-size: 2.4rem;
        }
        p {
            font-size: 16px;
        }
       
        .sidepanel4 {
            padding-bottom: unset;
        }
        nav {
            bottom: 32vh;
        }
        
        footer {
            position: relative;
        }

    }
    