@import url("https://use.typekit.net/fha1qle.css");

body {
    font-family: orpheuspro, serif;
    margin: 0;
    font-size: calc(9px + 0.35vw);
    line-height: 1.24;
}

a {
color: rgb(0, 0, 0);
font-weight: 600;
font-size: 2em;
}

h1 {
    font-size: 3.25em;
}

p {
    font-size: 1.2em;
}

main {
    margin: 0 0 10vh 0;
    display: flex;    
    flex-wrap: wrap;
}
.container {
    max-width: 100%;
    flex-grow: 1;
}

.projects {
    flex-grow: inherit;
    margin: 0 auto;
    padding: 3.6em;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.5);
}

.intro {
    flex-grow: inherit;
    margin: 0 auto;
    padding: 3em;
    height: 100vh;
    max-width: 73ch;
    position: fixed;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.5);
}

.sidepanel {
    height: 85vh;
    float: right;
    display: grid;
    grid-template-rows: repeat(1fr);
    right: 0;
}
.sidepanel1 {
    padding: 2em;
    background-color: #CBDEE0;
    align-content: stretch;
    margin: 0;
}

.sidepanel2 {
    padding: 2em;
    background-color: #FAE36A;
    align-content: stretch;
    margin: 0;
}

.sidepanel3 {
    padding: 2em;
    background-color: #F4BC79;
    align-content: stretch;
    margin: 0;
}

.sidepanel4 {
    padding: 2em;
    padding-bottom: 10vh;
    background-color: #ffa0a0;
    align-content: stretch;
    margin: 0;
}

nav {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 6em;
    text-align: center;
    z-index: 5;
}

nav a {
font-size: 3em;
}

footer{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100vw;
    bottom: 0;
    position: fixed;
    color: white;
    background-color: black;
    text-align: center;
    text-justify: auto;
    justify-content: center;
}

footer a {
    color: white;
    font-weight: unset;
    font-size: unset;
}


@media (max-width: 1024px) {

    .intro{
        position: unset;
        padding: 2em;
        height: unset;
    }
    
    .sidepanel{
        width: 100%;
        margin: 0;
    }
    
    }
    
    
    @media (max-width: 730px) {
    
        body {
            display: inline;
        }
        main {
            width: 100vw;
        }
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 16px;
        }
        footer {
            position: relative;
        }
        .sidepanel {
            height: inherit;
        }
        .sidepanel4{
            padding-bottom: 2em;
        }
        nav {
            bottom: 32vh;
        }

    }
    